# Central Auth Server
CENTRAL_AUTH_URL=https://clearbat.iiko.tech

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=clear_node
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Server Configuration
HOST=0.0.0.0
PORT=2647
